# vim:ft=gitconfig
[alias]
  co = checkout
  commend = commit --amend --no-edit
  s = status -sb
  d = diff -w
  unshallow = "! git remote set-branches origin '*' && git pull --unshallow"
  edit-changes = "!vi $(git diff --name-only --diff-filter=M) -O"
  fco = "!git checkout $(git branch -a | fzf)"
  grog = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)'
  it = "!git init && git commit -m 'Initial commit' --allow-empty"
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -10
  purr = pull --rebase
  ready = rebase -i @{u}
  upush = "!git push -u origin `git rev-parse --abbrev-ref HEAD`"
  sweep = "!git remote update -p && git purr && git branch --merged | grep -v '*' | grep -v master | xargs -I{} git branch -d {}"
  wync = "!git stash && git purr && git stash pop && git push"
  cwip = "!git add . && git commit --no-verify -m 'WIP'"

[add "interactive"]
  useBuiltin = false

[color]
  ui = true

[commit]
	gpgsign = true

[core]
  editor = nvim
  autocrlf = input
  ignorecase = false
  excludesfile = /Users/oinp/.gitignore
  pager = "delta"

[credential]
  helper = cache --timeout=28800

[delta]
  features = decorations
  navigate = true
  light = false
  minus-style                   = bold red
  minus-non-emph-style          = bold red
  minus-emph-style              = bold reverse red
  minus-empty-line-marker-style = normal "#3f0001"
  plus-style                    = bold green
  plus-non-emph-style           = bold green
  plus-emph-style               = bold reverse green

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul

[fetch]
  prune = true

[gpg]
  program = /usr/local/bin/gpg

[http]
  sslVerify = false

[init]
  defaultBranch = main

[interactive]
  diffFilter = "delta --color-only --features=interactive"

[log]
  abbrevCommit = true

[merge]
  tool = vimdiff

[pull]
  rebase = merges

[push]
  default = current

[rebase]
  autosquash = true

[user]
  ; signingkey = 0D974584A399517C
	signingkey = 71EB7F5901C39E99B25CD4002AF762FE32AB906F
  name = Stephane Point
  email = point.steph@gmail.com
[tag]
	gpgSign = true
