**/Thumbs.db
**/*~
**/*.swp
**/.AppleDouble
**/.LSOverride

# Thumbnails
._*

**/.stfolder
**/.stignore
**/.syncthing**.tmp
**/.DS_Store

**/*.pyc

**/lazy-lock.json

# ───── Eclipse / JDT Language Server ────────
# Eclipse workspace metadata & project files
.metadata/
.project
.classpath
.settings/

# Eclipse APT / JDTLS
.factorypath
.apt_generated/

# Eclipse code recommenders
.recommenders/

# Eclipse build-path files (older versions, some plugins)
.buildpath

# other Eclipse temp files/folders
.externalToolBuilders/
.loadpath

.gnupg/*

**/AGENTS.md

./zsh/.config/zsh/secrets.zsh
